# Database
DATABASE_URL="postgresql://choward@localhost:5432/sms_admin"

# Session Secret (change in production)
SESSION_SECRET="8571ad7c7f59b01f77cfe11ed95084ccc4a7583b1901becd72dff8b6d6bb50fd"

# Pushbullet API Token
PUSHBULLET_API_TOKEN="o.jOVqvNBAGVP8EdIkn41sgaD8ALy2yyTf"

PUSHBULLET_DEVICE_IDEN=ujDuTJul7jEsjA4TS0V2k0

# SMS Execution Settings
SMS_DELAY_MS=1000

# Server Port
PORT=3000

# Node Environment
NODE_ENV=development
